/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* ROOT Variables */
:root {
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/* General Styles */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, Inter, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.1875em;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

h6 {
  font-size: 0.9em;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Logo Styling */

.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 120px;
}

/*Update Password Page Styling*/

.update-password-container {
  background: var(--french-gray-color);
  min-height: 100vh;
}

.update-password-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-password-intro {
  text-align: center;
}

.update-password-intro p {
  margin-bottom: 30px;
}

.update-password-form {
  max-width: 500px;
}

.update-password-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.update-password-form form .new-password-input,
.update-password-form form .confirm-password-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.update-password-form form .new-password-input .input-icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.update-password-form form .new-password-input .input-icon i {
  font-size: inherit;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.update-password-form form .new-password-input .input-icon input:focus + i {
  animation: pulse 500ms ease-in-out 3;
}

.update-password-form form label {
  font-size: 0.75em;
}

.update-password-form form input {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-family: Poppins;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
}

.reset-password-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.reset-password-btn button {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-family: Poppins;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.reset-password-btn button:hover {
  background: var(--black-pearl-color);
  color: var(--bright-sun-color);
}

.update-password-form form .form-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-password-form form .form-message small {
  font-size: 0.75em;
}

.update-password-form form .form-message small.success-message {
  color: var(--pine-green-color);
}

.update-password-form form .form-message small.error-message {
  color: var(--alizarin-crimson-color);
}

/*RESPONSIVE BREAKPOINTS*/

/*Devices Max. Screen Width 768px*/

@media (max-width: 768px) {
  /* General Responsive Styling */

  body {
    font-size: 87.5%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 0.9em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }
}

/*Devices Max. Screen Width 520px*/

@media (max-width: 520px) {
  /* General Responsive Styling */

  body {
    font-size: 75%;
  }

  h1 {
    font-size: 1.875em;
  }

  h2 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.6875em;
  }

  /*Update Password Page Styling*/

  .update-password-form form input {
    padding: 10px 30px;
  }

  .reset-password-btn button {
    padding: 10px 100px;
  }
}

/*Devices Max. Screen Width 391px*/

@media (max-width: 391px) {
  .update-password-intro {
    margin-left: 20px;
  }
}

/* ANIMATIONS */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
