/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* ROOT Variables */
:root {
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/* General Styles */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, Inter, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.1875em;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

h6 {
  font-size: 0.9em;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Logo Styling */
.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 120px;
}

/*RESPONSIVE BREAKPOINTS*/
@media (max-width: 768px) {
  /* General Responsive Styling */
  body {
    font-size: 87.5%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 0.9em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }
}

@media (max-width: 520px) {
  /* General Responsive Styling */
  body {
    font-size: 75%;
  }

  h1 {
    font-size: 1.875em;
  }

  h2 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.6875em;
  }
}
