/*Imports*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*ROOT Variables*/
:root{
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/*General Styles*/

html, body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, "Trebuchet MS", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button, a{
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Header Styling */

header {
  background-image: linear-gradient(to right, var(--aqua-color), var(--foam-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: 10px 20px;
  transition: all 400ms ease-in-out;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Logo Styling */

.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 100px;
}


/*Registration Page Styling*/

.registration-container{
  background-image: linear-gradient(to right, var(--aqua-color), var(--foam-color));
  padding-top: 1px;
  padding-bottom: 200px;
  color: var(--black-pearl-color);
}

.registration-container .registration-content{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.registration-container .registration-content .registration-form form{
  display: flex;
  flex-direction: column;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices{
  margin-bottom: 20px;
  margin-left: -10px;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices input.radio-restyle{
  display: none;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
  position: relative;
  margin-right: 40px;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::before,
.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::after{
  content: '';
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::before {
  border: 1px solid var(--black-pearl-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::after {
  background: var(--black-pearl-color);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: 300ms;
  opacity: 0;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle input:checked+span:after {
  opacity: 1;
}