/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* ROOT Variables */
:root {
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/* General Styles */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, Inter, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.1875em;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Logo Styling */

.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 120px;
}

/*Email Verification Page Styling*/

.email-verification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-verification p {
  margin-bottom: 70px;
}

.email-verification p span {
  position: relative;
  top: 15px;
  font-size: 4.375em;
}

.email-verification a {
  background: var(--aqua-color);
  color: var(--black-pearl-color);
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.email-verification a:hover {
  background: var(--cerulean-color);
}

/*Login Page Styling*/

#login_header {
  background: var(--cerulean-color);
}

.login-container {
  background: var(--cerulean-color);
  border-bottom: 10px solid var(--pine-green-color);
  padding-top: 10px;
}

.login-container .login-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 50px;
}

.login-container .login-content .login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container .login-content .login-form .login-intro h2 {
  text-align: center;
}

.login-container .login-content .login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.login-container .login-content .login-form form .login-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.login-container .login-content .login-form form .login-inputs input {
  background: var(--aqua-color);
  padding: 10px;
  font-family: Poppins;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 7px;
  width: 100%;
  box-sizing: border-box;
}

.login-container
  .login-content
  .login-form
  form
  .login-inputs
  input::placeholder {
  color: var(--black-pearl-color);
  font-family: Poppins;
  font-size: 0.875em;
}

.login-container .login-content .login-form form .login-inputs .password-input {
  display: flex;
  position: relative;
}

.login-container
  .login-content
  .login-form
  form
  .login-inputs
  .password-input
  i {
  font-size: inherit;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 10px;
}

.login-container
  .login-content
  .login-form
  form
  .login-inputs
  .password-input
  input:focus
  + i {
  animation: pulse 500ms ease-in-out 3;
}

.login-container .login-content .login-form form .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.login-container .login-content .login-form form .submit-btn button {
  background: var(--black-pearl-color);
  color: var(--aqua-color);
  padding: 10px 20px;
  font-family: Poppins;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login-container .login-content .login-form form .submit-btn button:hover {
  background: var(--bright-sun-color);
  color: var(--pine-green-color);
}

.login-container .login-content .login-form form .form-message {
  margin-bottom: 20px;
}

.login-container .login-content .login-form form .form-message small {
  font-size: 0.75em;
}

.login-container
  .login-content
  .login-form
  form
  .form-message
  small.error-message {
  color: var(--alizarin-crimson-color);
}

.login-container
  .login-content
  .login-form
  form
  .form-message
  small.success-message {
  color: var(--pine-green-color);
}

.login-container .login-content .login-form form .remember-forgot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-container
  .login-content
  .login-form
  form
  .remember-forgot
  .remember
  label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 0.75em;
}

.login-container
  .login-content
  .login-form
  form
  .remember-forgot
  .remember
  label
  input {
  display: none;
}

.login-container
  .login-content
  .login-form
  form
  .remember-forgot
  .remember
  label
  span {
  background: var(--black-pearl-color);
  color: var(--aqua-color);
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 3px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.login-container
  .login-content
  .login-form
  form
  .remember-forgot
  .remember
  label
  [type="checkbox"]:checked
  + span:before {
  content: "\2714";
  position: absolute;
  font-size: 16px;
  top: -2px;
  left: 4px;
}

.login-container .login-content .login-form form .remember-forgot .forgot a {
  color: var(--black-pearl-color);
  font-size: 0.75em;
  transition: all 400ms ease-in-out;
}

.login-container
  .login-content
  .login-form
  form
  .remember-forgot
  .forgot
  a:hover {
  color: var(--alizarin-crimson-color);
}

.login-container .login-content .login-form .register-prompt {
  width: 100%;
  text-align: center;
}

.login-container .login-content .login-form .register-prompt p {
  font-size: 0.75em;
}

.login-container .login-content .login-form .register-prompt p a {
  color: var(--alizarin-crimson-color);
  text-decoration: none;
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.login-container .login-content .login-form .register-prompt p a:hover {
  color: var(--black-pearl-color);
}

.login-container .login-content .login-image {
  position: relative;
  bottom: 0;
  margin-top: 130px;
}

.login-container .login-content .login-image img {
  width: 500px;
  height: 500px;
}

/*Password Reset Page(s) Styling*/

#reset_password_header {
  background: var(--french-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset_password_header .app-logo img {
  max-height: 150px;
}

.reset-password {
  background: var(--french-gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.request-reset-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.request-reset-form form .email-input {
  width: 100%;
}

.request-reset-form form .email-input input {
  background: var(--bright-sun-color);
  border: none;
  outline: none;
  text-align: center;
  font-family: Poppins;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.request-reset-form form .get-link-btn {
  width: 100%;
}

.request-reset-form form .get-link-btn button {
  background: var(--black-pearl-color);
  color: var(--bright-sun-color);
  font-family: Poppins;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.request-reset-form form .get-link-btn button:hover {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
}

.request-reset-form form .form-message small {
  font-size: 0.75em;
}

.request-reset-form form .form-message small.success-message {
  color: var(--pine-green-color);
}

.request-reset-form form .form-message small.error-message {
  color: var(--alizarin-crimson-color);
}

.reset-password-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-img img {
  width: 500px;
  height: 500px;
}

/*Request Success Styling*/

.request-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.success-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.success-icon img {
  max-width: 100px;
  max-height: 100px;
}

.success-text h2,
.success-text p {
  text-align: center;
}

.success-text h2 {
  color: var(--bright-sun-color);
  font-size: 1em;
  font-weight: 700;
}

.success-text p {
  font-size: 12px;
}

.mail-app-btn button {
  background: var(--black-pearl-color);
  color: var(--bright-sun-color);
  font-family: Poppins;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.mail-app-btn button:hover {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
}

.try-again-text {
  position: relative;
  bottom: 20px;
  margin-top: 50px;
}

.try-again-text p {
  font-size: 0.75em;
  text-align: center;
}

.try-again-text p a {
  color: var(--alizarin-crimson-color);
  transition: all 400ms ease-in-out;
}

.try-again-text p a:hover {
  color: var(--bright-sun-color);
}

/*Update Password Page Styling*/

.update-password-container {
  background: var(--french-gray-color);
  min-height: 100vh;
}

.update-password-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-password-intro {
  text-align: center;
}

.update-password-intro p {
  margin-bottom: 30px;
}

.update-password-form {
  max-width: 500px;
}

.update-password-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.update-password-form form .new-password-input,
.update-password-form form .confirm-password-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.update-password-form form .new-password-input .input-icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.update-password-form form .new-password-input .input-icon i {
  font-size: inherit;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.update-password-form form .new-password-input .input-icon input:focus + i {
  animation: pulse 500ms ease-in-out 3;
}

.update-password-form form label {
  font-size: 0.75em;
}

.update-password-form form input {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-family: Poppins;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
}

.reset-password-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.reset-password-btn button {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-family: Poppins;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.reset-password-btn button:hover {
  background: var(--black-pearl-color);
  color: var(--bright-sun-color);
}

.update-password-form form .form-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-password-form form .form-message small {
  font-size: 0.75em;
}

.update-password-form form .form-message small.success-message {
  color: var(--pine-green-color);
}

.update-password-form form .form-message small.error-message {
  color: var(--alizarin-crimson-color);
}

/*RESPONSIVE BREAKPOINTS*/

/*Devices Max. Screen Width 1200px*/

@media (max-width: 1200px) {
  /*Login Page Responsive Styling*/

  .login-container .login-content {
    gap: 5px;
  }

  .login-container .login-content .login-form form .form-message small {
    font-size: 0.6875em;
  }

  .login-container
    .login-content
    .login-form
    form
    .remember-forgot
    .remember
    label {
    gap: 5px;
  }

  .login-container .login-content .login-image img {
    width: 400px;
    height: 400px;
  }
}

/*Devices Max. Screen Width 991px*/

@media (max-width: 991px) {
  /*Login Page Responsive Styling*/

  .login-container .login-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .login-container .login-content .login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .login-container .login-content .login-image img {
    width: 500px;
    height: 500px;
  }
}

/*Devices Max. Screen Width 768px*/

@media (max-width: 768px) {
  /* General Responsive Styling */

  body {
    font-size: 87.5%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
  }

  h5 {
    font-size: 0.875em;
  }

  /*Login Page Responsive Styling*/

  .login-container .login-content .login-image {
    margin-top: -10px;
  }
}

/*Devices Max. Screen Width 520px*/

@media (max-width: 520px) {
  /* General Responsive Styling */

  body {
    font-size: 75%;
  }

  h1 {
    font-size: 1.875em;
  }

  h2 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 0.75em;
  }

  /*Login Page Responsive Styling*/

  .login-container .login-content .login-image img {
    width: 300px;
    height: 300px;
  }

  /*Password Reset Page(s) Responsive Styling*/

  .request-container {
    max-width: 330px;
    padding-top: 60px;
  }

  .request-reset-form form .email-input input {
    padding: 10px 50px;
  }

  .request-reset-form form .get-link-btn button {
    padding: 10px 140px;
  }

  .reset-password-img img {
    width: 340px;
    height: 340px;
  }

  /*Update Password Page Styling*/

  .update-password-form form input {
    padding: 10px 30px;
  }

  .reset-password-btn button {
    padding: 10px 100px;
  }
}

/*Devices Max. Screen Width 462px*/

@media (max-width: 462px) {
  /*Login Page Responsive Styling*/

  .login-container
    .login-content
    .login-form
    form
    .remember-forgot
    .remember
    label {
    font-size: 0.6875em;
  }

  .login-container .login-content .login-form form .remember-forgot .forgot a {
    font-size: 0.6875em;
  }

  .login-container .login-content .login-image img {
    width: 300px;
    height: 300px;
  }
}

/*Devices Max. Screen Width 391px*/

@media (max-width: 391px) {
  .update-password-intro {
    margin-left: 20px;
  }
}

/* ANIMATIONS */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
