/*Imports*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*ROOT Variables*/
:root{
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/*General Styles*/

html, body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, "Trebuchet MS", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button, a{
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Header Styling*/

header {
  background-image: linear-gradient(to right, var(--aqua-color), var(--foam-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: 10px 20px;
  transition: all 400ms ease-in-out;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*Logo Styling*/

.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 100px;
}


/*Registration Page Styling*/

.registration-container{
  background-image: linear-gradient(to right, var(--aqua-color), var(--foam-color));
  color: var(--black-pearl-color);
}

.registration-container .registration-content{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding-bottom: 50px;
}

.registration-container .registration-content .registration-form form{
  display: flex;
  flex-direction: column;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices{
  margin-bottom: 20px;
  margin-left: -5px;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices input.radio-restyle{
  display: none;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
  position: relative;
  margin-right: 270px;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::before,
.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::after{
  content: '';
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::before {
  border: 1px solid var(--black-pearl-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::after {
  background: var(--black-pearl-color);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: all 400ms ease-in-out;
  opacity: 0;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle input:checked+span:after {
  opacity: 1;
}

.registration-container .registration-content .registration-form .details{
  background: var(--black-pearl-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  padding: 0 40px 40px 10px;
  border-radius: 15px;
}

.registration-container .registration-content .registration-form .details .details-heading h4{
  color: var(--alizarin-crimson-color);
}

.registration-container .registration-content .registration-form .details .personal-details,
.registration-container .registration-content .registration-form .details .credential-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-container .registration-content .registration-form .details .credential-details{
  margin-bottom: 40px;
}

.registration-container .registration-content .registration-form .details .personal-details .personal-details-inputs,
.registration-container .registration-content .registration-form .details .credential-details .credential-details-inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.registration-container .registration-content .registration-form .details .input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-container .registration-content .registration-form .details .input-container label{
  color: var(--foam-color);
}

.registration-container .registration-content .registration-form .details .input-container label .required-star{
  color: var(--alizarin-crimson-color);
}

.registration-container .registration-content .registration-form .details .input-container input{
  background: var(--black-pearl-color);
  color: var(--foam-color);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--foam-color);
}

.registration-container .registration-content .registration-form .details .input-container input::placeholder{
  color: var(--foam-color);
  font-style: italic;
}

.registration-container .registration-content .registration-form .details .input-container .error{
  color: var(--alizarin-crimson-color);
  font-size: 10px;
}

.registration-container .registration-content .registration-form .details .submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container .registration-content .registration-form .details .submit-button button{
  background: var(--foam-color);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 300px;
  font-family: Poppins, Lato, "Trebuchet MS", sans-serif;
  font-size: 17px;
  transition: all 400ms ease-in-out;
}

.registration-container .registration-content .registration-form .details .submit-button button:hover{
  background: var(--alizarin-crimson-color);
  cursor: pointer;
}

.registration-container .registration-content .login-prompt{
  margin-left: 10px;
  font-size: 14px;
}

.registration-container .registration-content .login-prompt p a{
  color: var(--alizarin-crimson-color);
  text-decoration: none;
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.registration-container .registration-content .login-prompt p a:hover{
  color: var(--black-pearl-color);
}


/*RESPONSIVE BREAKPOINTS*/

/*Devices Max. Screen Width 1200px*/

@media(max-width: 1200px){
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content{
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 80px;
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices{
    margin-left: 0;
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle{
    padding: 2px 7px;
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 250px;
  }

  .registration-container .registration-content .registration-form .details{
    max-width: 100%;
  }

  .registration-container .registration-content .registration-form .details .personal-details .personal-details-inputs,
  .registration-container .registration-content .registration-form .details .credential-details .credential-details-inputs{
    gap: 20px;
  }
}


/*Devices Max. Screen Width 991px*/

@media (max-width: 991px) {
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 100px;
  }

  .registration-container .registration-content .registration-form .details .submit-button button{
    padding: 5px 200px;
  }
}


/*Devices Max. Screen Width 768px*/

@media (max-width: 768px) {
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 50px;
  }

  .registration-container .registration-content .registration-form .details{
    padding: 20px;
  }
}


/*Devices Max. Screen Width 520px*/

@media (max-width: 520px) {
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 10px;
  }

  .registration-container .registration-content .registration-form .details .submit-button button{
    padding: 5px 100px;
  }
}