/*Imports*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*ROOT Variables*/
:root {
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/*General Styles*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Header Styling*/

header {
  background-image: linear-gradient(to right, var(--aqua-color), var(--foam-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: 10px 20px;
  transition: all 400ms ease-in-out;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*Logo Styling*/

.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 100px;
}


/*Registration Page Styling*/

.registration-container {
  background-image: linear-gradient(to right, var(--aqua-color), var(--foam-color));
  color: var(--black-pearl-color);
}

.registration-container .registration-content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding-bottom: 50px;
}

.registration-container .registration-content .registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices {
  margin-bottom: 20px;
  margin-left: -5px;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices input.radio-restyle {
  display: none;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span {
  position: relative;
  margin-right: 270px;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::before,
.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::after{
  content: '';
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::before {
  border: 1px solid var(--black-pearl-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span::after {
  background: var(--black-pearl-color);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: all 400ms ease-in-out;
  opacity: 0;
}

.registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle input:checked+span:after {
  opacity: 1;
}

.registration-container .registration-content .registration-form .details {
  background: var(--black-pearl-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  padding: 0 40px 40px 10px;
  border-radius: 15px;
}

.registration-container .registration-content .registration-form .details .details-heading h4 {
  color: var(--alizarin-crimson-color);
}

.registration-container .registration-content .registration-form .details .personal-details,
.registration-container .registration-content .registration-form .details .credential-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-container .registration-content .registration-form .details .credential-details {
  margin-bottom: 40px;
}

.registration-container .registration-content .registration-form .details .personal-details .personal-details-inputs,
.registration-container .registration-content .registration-form .details .credential-details .credential-details-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.registration-container .registration-content .registration-form .details .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-container .registration-content .registration-form .details .input-container label {
  color: var(--foam-color);
}

.registration-container .registration-content .registration-form .details .input-container label .required-star {
  color: var(--alizarin-crimson-color);
}

.registration-container .registration-content .registration-form .details .input-container input {
  background: var(--black-pearl-color);
  color: var(--foam-color);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--foam-color);
}

.registration-container .registration-content .registration-form .details .input-container input::placeholder {
  color: var(--foam-color);
  font-style: italic;
}

.registration-container .registration-content .registration-form .details .input-container .error {
  color: var(--alizarin-crimson-color);
  font-size: 10px;
}

.registration-container .registration-content .registration-form .details .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container .registration-content .registration-form .details .submit-button button {
  background: var(--foam-color);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 300px;
  font-family: Poppins, Lato, "Trebuchet MS", sans-serif;
  font-size: 17px;
  transition: all 400ms ease-in-out;
}

.registration-container .registration-content .registration-form .details .submit-button button:hover {
  background: var(--alizarin-crimson-color);
  cursor: pointer;
}

.registration-container .registration-content .registration-form .details .form-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container .registration-content .registration-form .details .form-message small {
  font-size: 12px;
}

.registration-container .registration-content .registration-form .details .form-message small.success-message {
  color: var(--aqua-color);
}

.registration-container .registration-content .registration-form .details .form-message small.error-message {
  color: var(--alizarin-crimson-color);
}

.registration-container .registration-content .login-prompt {
  margin-left: 10px;
  font-size: 14px;
}

.registration-container .registration-content .login-prompt p a {
  color: var(--alizarin-crimson-color);
  text-decoration: none;
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.registration-container .registration-content .login-prompt p a:hover {
  color: var(--black-pearl-color);
}


/*Email Verification Page Styling*/

.email-verification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-verification p {
  margin-bottom: 70px;
}

.email-verification p span {
  position: relative;
  top: 15px;
  font-size: 70px;
}

.email-verification a {
  background: var(--aqua-color);
  color: var(--black-pearl-color);
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.email-verification a:hover {
  background: var(--cerulean-color);
}


/*Login Page Styling*/

#login_header {
  background: var(--cerulean-color);
}

.login-container {
  background: var(--cerulean-color);
  border-bottom: 10px solid var(--pine-green-color);
  padding-top: 10px;
}

.login-container .login-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 50px;
}

.login-container .login-content .login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container .login-content .login-form .login-intro h2 {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}

.login-container .login-content .login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .login-content .login-form form .login-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-container .login-content .login-form form .login-inputs input {
  background: var(--aqua-color);
  padding: 10px 100px;
  font-family: Poppins;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 7px;
}

.login-container .login-content .login-form form .login-inputs input::placeholder {
  color: var(--black-pearl-color);
  font-family: Poppins;
  font-size: 14px;
}

.login-container .login-content .login-form form .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-container .login-content .login-form form .submit-btn button {
  background: var(--black-pearl-color);
  color: var(--aqua-color);
  padding: 10px 257px;
  font-family: Poppins;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login-container .login-content .login-form form .submit-btn button:hover {
  background: var(--bright-sun-color);
  color: var(--pine-green-color);
}

.login-container .login-content .login-form form .form-message {
  margin-bottom: 20px;
}

.login-container .login-content .login-form form .form-message small {
  font-size: 12px;
}

.login-container .login-content .login-form form .form-message small.error-message {
  color: var(--alizarin-crimson-color);
}

.login-container .login-content .login-form form .form-message small.success-message {
  color: var(--pine-green-color);
}

.login-container .login-content .login-form form .remember-forgot {
  display: flex;
  justify-content: space-between;
  gap: 350px;
}

.login-container .login-content .login-form form .remember-forgot .remember form label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  left: 5px;
  font-size: 12px;
}

.login-container .login-content .login-form form .remember-forgot .remember form label input {
  display: none;
}

.login-container .login-content .login-form form .remember-forgot .remember form label span {
  background: var(--black-pearl-color);
  color: var(--aqua-color);
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 3px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.login-container .login-content .login-form form .remember-forgot .remember form label [type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  font-size: 16px;
  top: -3px;
  left: 3px;
}

.login-container .login-content .login-form form .remember-forgot .forgot a {
  color: var(--black-pearl-color);
  font-size: 12px;
  transition: all 400ms ease-in-out;
}

.login-container .login-content .login-form form .remember-forgot .forgot a:hover {
  color: var(--alizarin-crimson-color);
}

.login-container .login-content .login-form .register-prompt {
  position: relative;
  left: 27px;
}

.login-container .login-content .login-form .register-prompt p {
  font-size: 12px;
}

.login-container .login-content .login-form .register-prompt p a {
  color: var(--alizarin-crimson-color);
  text-decoration: none;
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.login-container .login-content .login-form .register-prompt p a:hover {
  color: var(--black-pearl-color);
}

.login-container .login-content .login-image {
  position: relative;
  bottom: 0;
  margin-top: 130px;
}

.login-container .login-content .login-image img {
  width: 500px;
  height: 500px;
}


/*Password Reset Page(s) Styling*/

#reset_password_header {
  background: var(--french-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset_password_header .app-logo img {
  max-height: 150px;
}

.reset-password {
  background: var(--french-gray-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.reset-password-intro p {
  font-size: 12px;
}

.request-reset-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.request-reset-form form .email-input input {
  background: var(--bright-sun-color);
  border: none;
  outline: none;
  text-align: center;
  font-family: Poppins;
  border-radius: 7px;
  padding: 10px 125px;
}

.request-reset-form form .get-link-btn button {
  background: var(--black-pearl-color);
  color: var(--bright-sun-color);
  font-family: Poppins;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px 220px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.request-reset-form form .get-link-btn button:hover {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
}

.request-reset-form form .form-message small {
  font-size: 12px;
}

.request-reset-form form .form-message small.success-message {
  color: var(--pine-green-color);
}

.request-reset-form form .form-message small.error-message {
  color: var(--alizarin-crimson-color);
}

.reset-password-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-img img {
  width: 500px;
  height: 500px;
}

  /*Request Success Styling*/

  .request-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 100px;
  }

  .success-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
  }

  .success-icon img {
    max-width: 100px;
    max-height: 100px;
  }

  .success-text h2,
  .success-text p {
    text-align: center;
  }

  .success-text h2 {
    color: var(--bright-sun-color);
    font-size: 16px;
    font-weight: 700;
  }

  .success-text p {
    font-size: 12px;
  }

  .mail-app-btn button {
    background: var(--black-pearl-color);
    color: var(--bright-sun-color);
    font-family: Poppins;
    padding: 10px  40px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }

  .mail-app-btn button:hover {
    background: var(--bright-sun-color);
    color: var(--black-pearl-color);
  }

  .try-again-text {
    position: relative;
    bottom: 20px;
    margin-top: 200px;
  }

  .try-again-text p {
    font-size: 12px;
    text-align: center;
  }

  .try-again-text p a {
    color: var(--alizarin-crimson-color);
    transition: all 400ms ease-in-out;
  }

  .try-again-text p a:hover {
    color: var(--bright-sun-color);
  }


/*RESPONSIVE BREAKPOINTS*/

/*Devices Max. Screen Width 1200px*/

@media(max-width: 1200px){
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content{
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 80px;
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices{
    margin-left: 0;
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle{
    padding: 2px 7px;
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 250px;
  }

  .registration-container .registration-content .registration-form .details{
    max-width: 100%;
  }

  .registration-container .registration-content .registration-form .details .personal-details .personal-details-inputs,
  .registration-container .registration-content .registration-form .details .credential-details .credential-details-inputs{
    gap: 20px;
  }


  /*Login Page Responsive Styling*/

  .login-container .login-content {
    gap: 5px;
    margin-left: 30px;
  }

  .login-container .login-content .login-form form .submit-btn button {
    font-size: 12px;
  }

  .login-container .login-content .login-form form .form-message small {
    font-size: 11px;
  }

  .login-container .login-content .login-form form .remember-forgot {
    gap: 330px;
  }

  .login-container .login-content .login-form form .remember-forgot .remember form label {
    gap: 5px;
    left: 3px;
  }

  .login-container .login-content .login-form .register-prompt {
    left: 10px;
  }

  .login-container .login-content .login-image img {
    width: 400px;
    height: 400px;
  }
}


/*Devices Max. Screen Width 991px*/

@media (max-width: 991px) {
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 100px;
  }

  .registration-container .registration-content .registration-form .details .submit-button button{
    padding: 5px 200px;
  }


  /*Login Page Responsive Styling*/

  .login-container .login-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .login-container .login-content .login-form .login-intro h2 {
    font-size: 26px;
  }
  
  .login-container .login-content .login-form form .login-inputs input {
    padding: 10px 200px;
  }
  
  .login-container .login-content .login-form form .submit-btn button {
    padding: 10px 357px;
  }
  
  .login-container .login-content .login-form form .remember-forgot {
    gap: 530px;
  }
  
  .login-container .login-content .login-form .register-prompt {
    left: 7px;
  }

  .login-container .login-content .login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  
  .login-container .login-content .login-image img {
    width: 500px;
    height: 500px;
  }
}


/*Devices Max. Screen Width 768px*/

@media (max-width: 768px) {
  
  /*Registration Page Responsive Styling*/

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 50px;
  }

  .registration-container .registration-content .registration-form .details{
    padding: 20px;
  }

  /*Login Page Responsive Styling*/
  
  .login-container .login-content .login-form .login-intro h2 {
    font-size: 24px;
  }
  
  .login-container .login-content .login-form form .login-inputs input {
    padding: 10px 70px;
  }
  
  .login-container .login-content .login-form form .submit-btn button {
    padding: 10px 227px;
  }
  
  .login-container .login-content .login-form form .remember-forgot {
    gap: 300px;
  }
  
  .login-container .login-content .login-form .register-prompt {
    left: 50px;
  }

  .login-container .login-content .login-image {
    margin-top: -30px;
  }
}


/*Devices Max. Screen Width 520px*/

@media (max-width: 520px) {

  /*Header Responsive Styling*/

  header{
    background: var(--aqua-color);
  }
  
  /*Registration Page Responsive Styling*/

  .registration-container{
    background-image: linear-gradient(var(--aqua-color), var(--foam-color));
  }

  .registration-container .registration-content .registration-form .user-category .user-category-choices label.radio-restyle span{
    margin-right: 10px;
  }

  .registration-container .registration-content .registration-form .details .input-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .registration-container .registration-content .registration-form .details .submit-button button{
    padding: 5px 100px;
  }

  /*Login Page Responsive Styling*/
  
  .login-container .login-content .login-form form .login-inputs input {
    padding: 10px 20px;
  }
  
  .login-container .login-content .login-form form .submit-btn button {
    padding: 10px 177px;
  }
  
  .login-container .login-content .login-form form .remember-forgot {
    gap: 170px;
  }
  
  .login-container .login-content .login-form .register-prompt {
    left: 30px;
  }
  
  .login-container .login-content .login-image img {
    width: 300px;
    height: 300px;
  }

  /*Password Reset Page(s) Responsive Styling*/

  .request-container {
    max-width: 330px;
    padding-top: 60px;
  }

  .request-reset-form form .email-input input {
    padding: 10px 50px;
  }

  .request-reset-form form .get-link-btn button {
    padding: 10px 140px;
    font-size: 12px;
  }

  .reset-password-img img {
    width: 340px;
    height: 340px;
  }
}


/*Devices Max. Screen Width 462px*/

@media (max-width: 462px) {

  /*Login Page Responsive Styling*/
    
  .login-container .login-content .login-form form .login-inputs input {
    padding: 10px;
  }

  .login-container .login-content .login-form form .submit-btn button {
    padding: 10px 100px;
  }

  .login-container .login-content .login-form form .remember-forgot {
    gap: 100px;
  }

  .login-container .login-content .login-form form .remember-forgot .remember form label {
    font-size: 11px;
  }

  .login-container .login-content .login-form form .remember-forgot .forgot a {
    font-size: 11px;
  }

  .login-container .login-content .login-image img {
    width: 300px;
    height: 300px;
  }

}


/*Devices Max. Screen Width 391px*/

@media (max-width: 391px){
  .registration-container .registration-content .registration-form .details .input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}