/*Imports*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*ROOT Variables*/
:root{
  --foam-color: #edfdfd;
  --black-pearl-color: #04061f;
  --aqua-color: #5ae0d7;
  --bright-sun-color: #fdd142;
  --pale-sky-color: #6c707b;
  --french-gray-color: #bcbcbd;
  --cerulean-color: #01a0e2;
  --pine-green-color: #027a79;
  --alizarin-crimson-color: #e41c2a;
  --west-coast-color: #5c421c;
}

/*General Styles*/

html, body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Lato, "Trebuchet MS", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button, a{
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Header Styling */

header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: 10px 20px;
  transition: all 400ms ease-in-out;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Logo Styling */

.app-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.app-logo img {
  max-height: 100px;
}
