.container {
  flex: 1;
  height: 90dvh;
  display: flex;
  padding: 10px;
  max-width: 100%;
  transition: width 0.4s ease-in-out;
  animation: fadeIn 400ms ease-in-out;
}

.assignmentsBox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  transition: flex 0.4s ease-in-out;
}

.assignmentsBoxOpened {
  background-color: #fff;
}

.addAssignment {
  background-color: var(--cerulean-color);
  color: var(--foam-color);
  display: flex;
  align-items: center;
  height: 6vh;
  gap: 10px;
}

.addAssignment:hover {
  background: #fff;
  color: var(--cerulean-color);
}

.assignmentsBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;
  margin-top: 20px;
}

.assignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 80%;
  max-width: 700px;
  border-radius: 7px;
  padding: 5px;
}

.assignment p:first-of-type {
  width: 55%;
  text-align: left;
}

.assignment p:last-of-type {
  width: 30%;
  text-align: right;
}

.assignment:hover {
  background: #fff;
}

.studentAssignment:hover {
  color: var(--black-pearl-color);
}

.teacherAssignment {
  color: var(--foam-color);
}

.teacherAssignment:hover {
  color: var(--cerulean-color);
}

.assignmentsHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.normalText,
.edDivWork,
.textInstructionWork,
.questionContainerWork,
.textQuestionWork,
.answerWork,
.textTitleWork,
.textLongWork {
  margin: 0;
  border: none;
  text-wrap: wrap;
}

.questionHolder {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questionContent {
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 3px;
  word-break: break-all;
}

.questionContent p {
  margin: 0;
}

.studentTools {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.studentFiles {
  height: max-content;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.studentFiles h5 {
  margin: 0;
}

.studentFiles .chosenFile {
  border-radius: 0;
  height: 6vh;
  background-color: var(--cerulean-color);
  color: #fff;
  border: none;
}

.studentSubmit {
  text-transform: capitalize;
}

.studentSubmit:hover {
  background: #fff;
  color: var(--black-pearl-color);
}

.assignmentTitle {
  width: 250px;
  height: 5vh;
  padding-left: 5px;
  background-color: var(--foam-color);
  border: 1px solid var(--pale-sky-color);
  border-radius: 7px;
}

.assignmentTitle:focus {
  outline: 1px solid var(--pale-sky-color);
}

.assignmentTop {
  display: flex;
  gap: 10px;
  align-items: center;
}

.editButton {
  width: max-content;
}

.assignmentTop input {
  background: #fff;
  color: var(--cerulean-color);
  border-color: var(--cerulean-color);
}

.assignmentTop input:focus {
  outline: none;
}

.assignmentTop select {
  background: #fff;
  color: var(--cerulean-color);
  height: 6vh;
  width: 160px;
  border: 1px solid var(--cerulean-color);
  outline: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
  padding: 5px;
}

.assignmentTop option:hover {
  background: var(--cerulean-color);
}

.newAssignmentContent {
  background-color: var(--cerulean-color);
  padding: 10px;
  padding-bottom: 20vh;
  border-radius: 7px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  height: max-content;
}

.textContent h3 {
  margin: 0;
}

.titleInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.editTitleLabel {
  color: var(--black-pearl-color);
  font-weight: 600;
}

.titleInput {
  color: var(--cerulean-color);
  border-radius: 7px;
  padding: 10px 5px;
}

.titleInput:focus {
  outline-color: var(--pine-green-color);
}

.marksArea {
  min-width: max-content;
  align-self: right;
  color: var(--bright-sun-color);
  margin: 0;
  margin-left: 10px;
}

/* AssignmentTools & AssignmentContent Styling */

/* AssignmentContent */
.addedDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: max-content;
}

.addedTextArea {
  background: var(--foam-color);
  color: var(--cerulean-color);
  padding: 10px;
  width: 650px;
  border: none;
  border-radius: 7px;
  resize: none;
}

.fullTextArea {
  min-height: 30vh;
}

.addedButton {
  background-color: var(--black-pearl-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  margin-bottom: 20px;
}

.addedButton:hover {
  background: var(--foam-color);
  color: var(--cerulean-color);
}

.selectedFiles {
  background: var(--foam-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
  gap: 10px;
}

.chosenFile {
  font-size: 0.8rem;
  height: 4vh;
  border: 1px solid var(--pale-sky-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 7px;
  gap: 6px;
  cursor: pointer;
}

.oldFile {
  border: 1px solid var(--alizarin-crimson-color);
  color: var(--alizarin-crimson-color);
}

.newFile {
  border: 1px solid var(--pine-green-color);
  color: var(--pine-green-color);
}

.fileHidden {
  display: none;
}

.textInstruction {
  color: var(--bright-sun-color);
  font-weight: 700;
  text-transform: capitalize;
}

.noteText {
  font-weight: 700;
}

.textTitle {
  height: max-content;
}

.editable {
  padding: 0 3px;
  white-space: pre-wrap;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}

.addAnswer {
  background: var(--pine-green-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 3px;
  align-self: flex-end;
  border-radius: 7px;
}

.addAnswer:hover {
  background: #fff;
  color: var(--pine-green-color);
}

.showAnswer {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  margin-left: 10px;
}

.answerInput {
  background-color: var(--foam-color);
  color: var(--cerulean-color);
  border: none;
  border-radius: 7px;
  padding: 10px;
}

.answerInput:focus {
  outline: none;
}

.showAnswer i {
  color: var(--foam-color);
  transition: all 400ms ease-in-out;
}

.showAnswer i:hover {
  color: var(--bright-sun-color);
  cursor: pointer;
}

.answerBox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 30px;
  min-width: 250px;
}

.answerBox p {
  color: var(--bright-sun-color);
  font-size: 0.9rem;
}

.edDiv {
  border: 1px solid var(--foam-color);
  border-radius: 7px;
  padding: 10px;
}

.edBtns {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.edBtnsLeft,
.edBtnsRight {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.edBtnsRight input {
  height: 4vh;
  width: 80px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

.faArrow {
  color: var(--foam-color);
  transition: all 400ms ease-in-out;
}

.faArrow:hover {
  color: var(--bright-sun-color);
}

.faTrash {
  color: var(--alizarin-crimson-color);
  position: relative;
  top: 0;
  transition: all 400ms ease-in-out;
}

.faTrash:hover {
  top: 3px;
}

.answerArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answerArea button {
  width: max-content;
  height: max-content;
  padding: 2px 8px;
  font-size: 0.9rem;
  color: var(--cerulean-color);
  background-color: var(--black-pearl-color);
}

.answerArea button:hover {
  background-color: var(--cerulean-color);
  color: var(--black-pearl-color);
}

/* AssignmentTools */
.extras {
  width: max-content;
  max-width: 400px;
  transition: width 0.4s ease-in-out;
}

.tools {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.toolsArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.toolsArea h3 {
  text-align: center;
  margin: 0;
}

.toolsArea button {
  max-width: 100%;
}

.extraTools {
  width: 100%;
}

.deadline {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.deadline p {
  font-weight: 600;
  width: 100px;
}

.deadline input,
.timerSelect {
  color: var(--cerulean-color);
  border: 1px solid var(--cerulean-color);
  border-radius: 7px;
  height: 6vh;
  width: 120px;
  padding-left: 10px;
}

.publishAssignment {
  background-color: var(--cerulean-color);
  color: #fff;
  display: flex;
  align-items: center;
  height: 7vh;
  width: max-content;
  margin-top: 20px;
}

.publishAssignment:hover {
  background: #fff;
  color: var(--cerulean-color);
}

.submissionAlert {
  color: var(--alizarin-crimson-color);
}

.questionAnswerBox {
  display: flex;
  flex-direction: column;
}

.attemptButton {
  width: max-content;
  height: max-content;
  background-color: transparent;
  font-size: 0.9rem;
}

.whiteText {
  color: #fff;
}

.cerulianText {
  color: var(--cerulean-color);
  text-transform: capitalize;
  font-weight: 600;
}

.lightCerulianText {
  color: var(--cerulean-color);
  font-weight: 500;
}

.foamBackground {
  background-color: var(--foam-color);
}

.attempted {
  color: var(--pine-green-color);
}

.studentFileUpload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.uploadIcon {
  font-size: 28px;
}

.faSubmission {
  font-size: 22px;
}

.faSubmitted {
  color: var(--pine-green-color);
}

.faPending {
  color: var(--bright-sun-color);
}

.submittedBox {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submittedBox h3 {
  text-transform: capitalize;
}

.removeSubmission {
  background-color: var(--alizarin-crimson-color);
  color: var(--foam-color);
}

.removeSubmission:hover {
  background: var(--foam-color);
  color: var(--alizarin-crimson-color);
}

.removeSubmission:disabled {
  cursor: not-allowed;
}

.divFlex {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.filesEmpty {
  display: none;
}

.lateSubmission {
  color: var(--alizarin-crimson-color);
  margin: 0;
}

.submissionDetails {
  width: 250px;
}

/* Start Quiz */
.startQuizContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10vh;
  gap: 20px;
}

.startQuizContainer * {
  margin: 0;
}

.startQuizButton {
  background-color: var(--black-pearl-color);
  color: #fff;
}

/* Quiz Timer */
.quizTimer {
  height: 4vh;
  width: 120px;
  position: sticky;
  align-self: flex-end;
  top: 5px;
  right: 10px;
  padding: 2px 5px;
  color: var(--alizarin-crimson-color);
  background-color: var(--foam-color);
}

.startQuizButton:hover {
  background-color: var(--cerulean-color);
  color: var(--black-pearl-color);
}

.fileMarks {
  height: 8vh;
  display: flex;
  align-items: center;
  gap: 20px;
}

.fileMarks input {
  font-size: 1.1rem;
  color: var(--cerulean-color);
  border: 1px solid var(--cerulean-color);
  border-radius: 7px;
  height: 6vh;
  width: 120px;
  padding-left: 10px;
}

.studentFileMarks {
  justify-content: space-between;
}

/* RESPONSIVE BREAKPOINTS */

@media screen and (max-width: 1200px) {
  .extras {
    width: 15vw;
    min-width: 170px;
  }

  .tools {
    padding: 5px;
  }

  .toolsArea {
    padding: 5px;
  }

  .extraTools {
    display: flex;
    flex-direction: column;
  }

  .deadline {
    flex-direction: column;
    padding: 1px 5px;
    height: max-content;
  }

  .publishAssignment {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .extras {
    width: 100%;
    max-width: max-content;
    height: 10vh;
    overflow-x: scroll;
  }

  .tools,
  .studentTools {
    height: 8vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    margin-right: 40px;
    padding: 5px;
  }

  .toolsArea,
  .studentFiles {
    flex-direction: row;
    width: max-content;
    max-height: 100%;
    align-items: center;
  }

  .toolsArea h3 {
    display: none;
  }

  .toolsArea button {
    width: max-content;
    min-width: 90px;
    height: 5vh;
  }

  .extraTools {
    flex-direction: row;
    height: 100%;
    align-items: center;
    width: max-content;
  }

  .deadline {
    flex-direction: row;
    align-items: center;
    width: max-content;
  }

  .deadline p {
    display: none;
  }

  .publishAssignment {
    width: 150px;
  }

  .newAssignmentContent {
    max-width: 95%;
  }

  .edDiv,
  .questionContainer {
    max-width: 100%;
  }

  .submissionAlert {
    position: absolute;
    top: 10vh;
    width: max-content;
    text-align: center;
    max-width: 80vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: var(--alizarin-crimson-color);
    color: #fff;
    border-radius: 7px;
  }

  .addedDiv {
    border: 1px solid;
    max-width: 100%;
  }

  .addedTextArea {
    width: 95%;
  }

  .answerInput {
    max-width: 90%;
  }

  .showAnswer {
    max-width: 90%;
  }

  .answerBox {
    max-width: 90%;
  }

  .editable {
    max-width: 100%;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 550px) {
  .assignment {
    width: 90vw;
  }

  .assignmentTop select {
    width: 120px;
    height: 5vh;
  }

  .assignmentTop input {
    height: 5vh;
  }

  .assignmentsHeader h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 450px) {
  .assignment {
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
  }

  .assignment p:first-of-type {
    font-size: 1.02rem;
  }

  .assignmentTop {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
