.landingIntro {
  background: var(--foam-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.landingIntro h1 {
  text-align: center;
}

.introVideo {
  background-image: linear-gradient(
    var(--pine-green-color),
    var(--pine-green-color),
    var(--aqua-color)
  );
  width: 1100px;
  max-width: 1100px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 7px;
}

.landingIntro a {
  background: var(--black-pearl-color);
  color: var(--aqua-color);
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  padding: 15px 75px;
}

.landingIntro a:hover {
  background: var(--aqua-color);
  color: var(--black-pearl-color);
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 991px) {
  .introVideo {
    max-width: 100%;
    padding: 20px;
  }
}
