* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.content {
  width: 100%;
  height: 92vh;
  display: flex;
  transition: width 0.3s ease-in-out;
}
.dashboards {
  flex: 1;
  transition: width 0.3s ease-in-out;
  display: flex;
}

p.userSpecific {
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
}

p.UserSpecific {
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

p.StudentSpecific {
  background: rgb(145, 163, 241, 0.2);
  color: rgb(92, 92, 247);
}

p.adminSpecific {
  background: var(--pine-green-color);
  color: var(--bright-sun-color);
}

p.teacherSpecific {
  background: var(--black-pearl-color);
  color: var(--aqua-color);
}

p.studentSpecific {
  background: var(--west-coast-color);
  color: var(--bright-sun-color);
}

p.parentSpecific {
  background: var(--pale-sky-color);
  color: var(--black-pearl-color);
}

.logoutButton {
  background: var(--black-pearl-color);
  color: var(--alizarin-crimson-color);
  max-width: fit-content;
  border: none;
  outline: none;
}

.logoutButton:hover {
  background: var(--alizarin-crimson-color);
  color: var(--black-pearl-colorr);
  max-width: fit-content;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex: 1;
  position: relative;
}
.welcomeBoard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeBoard button {
  background-color: var(--aqua-color);
}

