.dashboardContainer {
  background-color: var(--foam-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  transition: width 0.4s ease-in-out;
  animation: fadeIn 400ms ease-in-out;
}

.mainContent {
  display: flex;
  flex: 1;
  transition: width 0.4s ease-in-out;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
