.dashboardContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--foam-color);
}

.content {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.4s ease-in-out;
  animation: fadeIn 400ms ease-in-out;
}

.dashboards {
  flex: 1;
  transition: width 0.4s ease-in-out;
  display: flex;
  max-width: 100%;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
