.resetPasswordHeader {
  background: var(--french-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPasswordLogo {
  max-height: 150px !important;
}

.resetPassword {
  background: var(--french-gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.requestContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.requestResetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.emailInput {
  width: 100%;
}

.emailInput input {
  background: var(--bright-sun-color);
  text-align: center;
  font-family: Poppins;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: var(--alizarin-crimson-color);
  font-size: 0.6875em;
  margin-left: 5px;
}

.getLinkBtnContainer {
  width: 100%;
}

.getLinkBtn {
  color: var(--bright-sun-color);
  font-family: Poppins;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
}

.getLinkBtn:hover {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
}

.formMessage small {
  font-size: 0.75em;
}

small.successMessage {
  color: var(--pine-green-color);
}

small.errorMessage {
  color: var(--alizarin-crimson-color);
}

.resetPasswordImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPasswordImg {
  width: 500px;
  height: 500px;
}

/* Request Success */
.requestSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.successIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.successIcon {
  max-width: 100px;
  max-height: 100px;
}

.successText h5,
.successText p {
  text-align: center;
}

.successText h5 {
  color: var(--bright-sun-color);
  font-weight: 700;
}

.successText p {
  font-size: 0.75em;
}

.mailAppBtn {
  color: var(--bright-sun-color);
  font-family: Poppins;
  padding: 10px 40px;
}

.mailAppBtn:hover {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
}

.tryAgainText {
  position: relative;
  bottom: 20px;
  margin-top: 50px;
}

.tryAgainText p {
  font-size: 0.75em;
  text-align: center;
}

.tryAgainText p a {
  color: var(--alizarin-crimson-color);
}

.tryAgainText p a:hover {
  color: var(--bright-sun-color);
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 520px) {
  .requestContainer {
    max-width: 330px;
    padding-top: 60px;
  }

  .emailInput input {
    padding: 10px 50px;
  }

  .getLinkBtn {
    padding: 10px 140px;
  }

  .resetPasswordImg {
    width: 340px;
    height: 340px;
  }
}
