.updatePasswordContainer {
  background: var(--french-gray-color);
  min-height: 100vh;
}

.updatePasswordContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updatePasswordIntro {
  text-align: center;
}

.updatePasswordIntro p {
  margin-bottom: 30px;
}

.updatePasswordFormContainer {
  max-width: 500px;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.newPasswordInput,
.confirmPasswordInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.inputIcon {
  display: flex;
  width: 100%;
  position: relative;
}

.inputIcon i {
  font-size: inherit;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.inputIcon input:focus + i {
  animation: pulse 400ms ease-in-out 3;
}

.updatePasswordForm label {
  font-size: 0.75em;
}

.updatePasswordForm input {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-family: Poppins;
  text-align: center;
  border-radius: 7px;
  padding: 10px;
}

.resetPasswordBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.resetPasswordBtn {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-family: Poppins;
  font-weight: 700;
  width: 100%;
}

.resetPasswordBtn:hover {
  background: var(--black-pearl-color);
  color: var(--bright-sun-color);
}

.updatePasswordForm .formMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formMessage small {
  font-size: 0.75em;
}

small.successMessage {
  color: var(--pine-green-color);
}

small.errorMessage {
  color: var(--alizarin-crimson-color);
}

/* RESPONSIVE DESIGN */
@media (max-width: 520px) {
  .updatePasswordForm input {
    padding: 10px 30px;
  }

  .resetPasswordBtn {
    padding: 10px 100px;
  }
}

@media (max-width: 391px) {
  .updatePasswordIntro {
    margin-left: 20px;
  }
}

/* ANIMATIONS */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
