.hero {
    transition: flex 0.3s ease-in-out;
    flex: 1;
    display: flex;
    padding: 10px;
}
.assignmentsBox {
    flex: .7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.extras {
    flex: .4;
}
.assignmentsHeader {
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 50px;
}
.assignmentsHeader select {
    height: 6vh;
    width: 160px;
    background-color: rgba(90, 224, 215, 0.3);
    border: none;
    border-radius: 6px;
    padding: 5px;
}

.addAssignment {
    height: 6vh;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(90, 224, 215, 0.3);
    border-radius: 6px;
}
.assignmentsBody {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.assignment {
    height: 7vh;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(90, 224, 215, 0.3);
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
.assignmentDetails {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid;
}
.instruction {
    font-size: .9rem;
    color: red;
}