.hero {
  transition: width 0.4s ease-in-out;
  flex: 1;
  display: flex;
  padding: 10px;
}
.assignmentsBox {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  transition: flex 0.4s ease-in-out;
}
.assignmentsHeader {
  height: 8vh;
  display: flex;
  align-items: center;
  gap: 50px;
}
select {
  height: 6vh;
  width: 160px;
  background-color: var(--aqua-color);
  border: none;
  border-radius: 6px;
  padding: 5px;
}

.addAssignment {
  height: 6vh;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--aqua-color);
  border-radius: 6px;
}
.assignmentsBody {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.assignment {
  height: 7vh;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  background-color: var(--aqua-color);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}
.assignmentDetails {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.instruction {
  font-size: 0.9rem;
  color: var(--alizarin-crimson-color);
}
.newAssignmentContent {
  background-color: var(--aqua-color);
  padding: 10px;
  padding-bottom: 20vh;
}
.textContent {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.extras {
  width: max-content;
  transition: width 0.4s ease-in-out;
}
.tools {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.tools h3 {
  text-align: center;
  height: 5vh;
}
.toolsArea {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.toolsArea button {
  width: 100%;
}
.textInstruction {
  color: var(--alizarin-crimson-color);
  font-size: 0.8rem;
}
.textTitle {
  height: max-content;
}
.editable {
  border: 1px solid var(--foam-color);
  white-space: pre-wrap;
}
.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}
.addAnswer {
  width: max-content;
  height: max-content;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 3px;
  background-color: var(--pale-sky-color);
  align-self: flex-end;
  margin-right: 10px;
  display: flex;
  gap: 3px;
  align-items: center;
}
.showAnswer {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}
.answerInput {
  height: 4vh;
  background-color: var(--foam-color);
  border: none;
  padding-left: 5px;
}
.answerBox {
  margin-left: 30px;
  width: max-content;
  min-width: 250px;
}
.answerBox p {
  font-size: 0.9rem;
}
.edDiv {
  border: 1px solid var(--foam-color);
}

.edBtns {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  border-top: 0;
}
.ed-btns .faSolid {
  font-size: 20px;
  cursor: pointer;
}
.faArrow {
  color: var(--cerulean-color);
}
.faTrash {
  color: var(--alizarin-crimson-color);
}
.submitAssignment {
  width: 250px;
  background-color: var(--cerulean-color);
}
.extraTools {
  width: 100%;
}
.deadline {
  height: 5vh;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  gap: 10px;
}
.deadline p {
  width: 100px;
}
.deadline input {
  border-radius: 5px;
  height: 4vh;
  width: 120px;
  padding-left: 10px;
}
.fileHidden {
  display: none;
}
.selectedFiles {
  background-color: var(--foam-color);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}
.chosenFile {
  font-size: 0.8rem;
  height: 4vh;
  border: 1px solid var(--pale-sky-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
}
.submissionAlert {
  color: var(--alizarin-crimson-color);
}
.assignmentTitle {
  width: 250px;
  height: 5vh;
  padding-left: 5px;
  background-color: var(--foam-color);
  border: 1px solid var(--pale-sky-color);
  border-radius: 10px;
}
.assignmentTitle:focus {
  outline: 1px solid var(--pale-sky-color);
}
.assignmentTop {
  display: flex;
  gap: 10px;
  align-items: center;
}
.editButton {
  width: max-content;
}
.addedDiv {
  height: max-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.addedTextArea {
  font-size: 1rem;
  padding: 8px;
  width: 650px;
  background-color: var(--foam-color);
  border: none;
  border-bottom: 1px solid var(--pale-sky-color);
}
.fullTextArea {
  min-height: 30vh;
}
.addedButton {
  width: max-content;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .extras {
    width: 15vw;
    min-width: 170px;
  }
  .tools {
    padding: 5px;
  }
  .toolsArea {
    padding: 5px;
  }
  .extraTools {
    display: flex;
    flex-direction: column;
  }
  .deadline {
    flex-direction: column;
    padding: 1px 5px;
    height: max-content;
  }
  .submitAssignment {
    width: 95%;
  }
  .submitAssignment p {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .extras {
    width: 100vw;
    height: 10vh;
  }
  .tools {
    height: 8vh;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
  }
  .toolsArea {
    flex-direction: row;
    width: max-content;
  }
  .toolsArea h3 {
    display: none;
  }
  .toolsArea button {
    width: max-content;
  }
  .extraTools {
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  .deadline {
    flex-direction: row;
    align-items: center;
    width: max-content;
  }
  .deadline p {
    display: none;
  }
  .submitAssignment {
    width: 150px;
  }
}

@media screen and (max-width: 550px) {
  .assignment {
    width: 90vw;
  }
}
@media screen and (max-width: 450px) {
  .assignment {
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
  }
  .assignment p:first-of-type {
    font-size: 1.02rem;
  }
}
