.card {
  background-color: var(--aqua-color);
  padding: 8px;
  min-width: 230px;
  max-width: 230px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  font-family: "Segoe UI", sans-serif;
}

.unit {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--pale-sky-color);
}

.title {
  font-size: 1.1rem;
  margin-bottom: 2px;
  margin-top: 0;
  color: var(--pale-sky-color);
}

.viewButton {
  width: fit-content;
  padding: 4px 12px;
  background-color: var(--cerulean-color);
  color: white;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  bottom: 20px;
}

.mark {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--cerulean-color);
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  bottom: 20px;
  right: 12px;
  font-size: 0.8rem;
  font-weight: 600;
}

.completed {
  color: green;
}

.pending {
  color: var(--bright-sun-color);
}

.notstarted {
  color: var(--alizarin-crimson-color);
}
