.card {
  background-color: rgba(90, 224, 215, 0.3);
  padding: 8px;
  min-width: 230px;
  max-width: 230px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  font-family: "Segoe UI", sans-serif;
}

.unit {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  color: gray;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 2px;
  margin-top: 0;
  color: #333;
}

.viewButton {
  width: fit-content;
  padding: 4px 12px;
  background-color: #007bff;
  color: white;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  /* margin-top: auto; */
  bottom: 20px;
}

.mark {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #1e3a8a;
}

.status {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  bottom: 20px;
  right: 12px;
  font-size: 0.8rem;
  font-weight: 600;
}

.completed {
  color: green;
}

.pending {
  color: orange;
}

.notstarted {
  color: red;
}
