.container {
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.title {
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.button {
  background: var(--cerulean-color);
  color: var(--foam-color);
  height: 6vh;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background: #fff;
  color: var(--cerulean-color);
}

.faIcon {
  color: var(--foam-color);
  font-size: 24px;
  transition: all 400ms ease-in-out;
}

.button:hover .faIcon {
  color: var(--cerulean-color);
}
