.container {
  padding: 62px;
  padding-top: 0px;
  width: 50%;

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
  color: #374151;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
    background-color: var(--cerulean-color);
  display: flex;
  align-items: center;
  height: 6vh;
  gap: 10px;
}

.button:hover {
  background: #fff;
  color: var(--cerulean-color);
}
.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color:var(--foam-color);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 24px;
  box-sizing: border-box;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 12px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #6b7280;
  cursor: pointer;
  z-index: 10;
}

.closeButton:hover {
  color: #374151;
}