.container {
  padding: 1rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  border: 1px solid;
}

.calendar :global(.react-calendar) {
  width: 100%;
  border: none;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.2;
}

.calendar :global(.react-calendar__tile) {
  padding: 0.75rem 0.5rem;
  border-radius: 60%;
  transition: background 0.3s;
}

.calendar :global(.react-calendar__tile--active) {
  background: #027a79;
  color: white;
}

.calendar :global(.react-calendar__tile:hover) {
  background: #e0e7ff;
  color: #111827;
}

.calendar :global(.calendar-deadline) {
  background-color: #facc15 !important;
  color: #1f2937 !important;
  font-weight: bold;
}
.specialDay {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2px;
}
.specialDayPassed {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
  margin-top: 2px;
}
/* .highlightPassed {
  background: rgba(223, 19, 19, 0.281);
  height: 36px;
  width: 36px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlightDay {
  background: rgba(121, 219, 236, 0.322);
  height: 36px;
  width: 36px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
