.container {
  padding: 1rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--black-pearl-color);
  width: 100%;
  max-width: 280px;
}

.calendar :global(.react-calendar) {
  width: 100%;
  border: none;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.2;
}

.calendar :global(.react-calendar__tile) {
  padding: 0.75rem 0.5rem;
  border-radius: 60%;
  transition: background 0.3s;
}

.calendar :global(.react-calendar__tile--active) {
  background: var(--pine-green-color);
  color: white;
}

.calendar :global(.react-calendar__tile:hover) {
  background: var(--foam-color);
  color: var(--black-pearl-color);
}

.calendar :global(.calendar-deadline) {
  background-color: var(--bright-sun-color) !important;
  color: var(--black-pearl-color) !important;
  font-weight: bold;
}
.specialDay {
  width: 5px;
  height: 5px;
  background-color: var(--black-pearl-color);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2px;
}
.specialDayPassed {
  width: 5px;
  height: 5px;
  background-color: var(--alizarin-crimson-color);
  border-radius: 50%;
  margin: auto;
  margin-top: 2px;
}
