.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  z-index: 997;
  padding: 10px;
  max-width: 100vw;
  transition: all 0.4s ease-in-out;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuTitle {
  font-weight: 700;
  color: var(--black-pearl-color);
}

.burgerIcon {
  color: var(--alizarin-crimson-color);
  font-size: 2em;
  cursor: pointer;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unitDropdown {
  position: relative;
  margin-right: 20px;
}

.unitButton {
  color: #fff;
}

.dropdownMenu {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.unitDropdown .dropdownMenu {
  display: block;
}

.dropdownOption {
  padding: 0.6em 1.2em;
  border-radius: 7px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.dropdownOption:hover {
  background-color: var(--black-pearl-color);
  color: #fff;
}

.avatar {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border: 3px solid var(--black-pearl-color);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileName {
  color: var(--black-pearl-color);
  font-weight: 700;
  font-size: 0.8em;
  margin-right: 40px;
}

.profileRole {
  color: var(--pine-green-color);
  font-size: 0.7em;
  font-weight: 600;
}

.notificationWrapper {
  position: relative;
}

.notificationIcon {
  font-size: 1.5em;
  cursor: pointer;
  color: var(--black-pearl-color);
}

.notifierDot {
  background-color: var(--pine-green-color);
  position: absolute;
  top: -2px;
  right: -2px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.notificationDropdown {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 28px;
  width: 320px;
  font-size: 0.9em;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
}

.notificationHeader {
  background: var(--cerulean-color);
  color: var(--black-pearl-color);
}

.notificationHeader,
.notificationItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--french-gray-color);
}

.notificationItem,
.seeAll {
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.notificationItem:hover {
  background: var(--cerulean-color);
}

.notificationIconLeft {
  color: var(--pine-green-color);
  margin-right: 8px;
  transition: all 400ms ease-in-out;
}

.criticalNotification {
  color: var(--alizarin-crimson-color);
}

.notificationItem:hover .notificationIconLeft {
  color: #fff;
}

.seeAll {
  color: var(--cerulean-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  font-weight: 700;
}

.seeAll:hover {
  color: var(--pine-green-color);
}

/* RESPONSIVE BREAKPOINTS */

@media (max-width: 768px) {
  .menuTitle {
    display: none;
  }

  .burgerIcon {
    font-size: 3em;
  }

  .avatar {
    width: 30px;
    height: 30px;
  }

  .headerWrapper {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 462px) {
  .profileInfo {
    display: none;
  }
}
