.container {
  padding: 20px;
  max-width: 340px;
  border-radius: 7px;
}

.deadlineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--pale-sky-color);
  border-radius: 7px;
}

.date {
  color: var(--alizarin-crimson-color);
  font-size: 0.8em;
  white-space: nowrap;
}

.list {
  list-style: none;
  overflow-y: auto;
}

.title {
  font-size: 0.8em;
}

.noDeadlines {
  font-style: italic;
  color: var(--pale-sky-color);
}

.placeholder {
  font-style: italic;
  color: var(--pale-sky-color);
}
