.container {
  background-color: rgba(90, 224, 215, 0.3);
  padding: 20px;
  margin-top: 1rem;
  width: 100%;
  max-width: 340px;
  margin-left: 6.5rem;
  font-family: "Segoe UI", sans-serif;
}

.deadlineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.date {
  margin-left: auto;
  margin-right: 1rem; /* Adjust margin as needed */
  white-space: nowrap;
  font-weight: 500;
  color: var(--pale-sky-color);
}

.note {
  flex-basis: 100%;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  color: var(--pale-sky-color);
  font-size: 0.9rem;
}

.container h3 {
  margin-top: 4px;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.date {
  font-size: 0.8rem;
  color: #374151;
}

.note {
  font-size: 0.8rem;
  color: var(--pale-sky-color);
  margin-top: 0.2rem;
}

.noDeadlines {
  font-style: italic;
  color: var(--pale-sky-color);
}

.placeholder {
  font-style: italic;
  color: var(--pale-sky-color);
  padding: 1rem;
}
