.progressSection {
  flex: 1;
  max-width: 100%;
  min-width: 350px;
  padding: 1rem;
  height: 100%;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.viewReport {
  background: #4a90e2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.chartContainer {
  position: relative;
}

.performanceIndicator {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.1rem 0.75rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.up {
  color: #16a34a;
}

.down {
  color: #dc2626;
}

.toggleButton {
  background: transparent;
  border: 1px solid #4a90e2;
  color: #4a90e2;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  cursor: pointer;
}

.toggleButton.active {
  background: #4a90e2;
  color: white;
}

.progressInfo {
  margin-top: 0.75rem;
  color: #6b7280;
}

.toggleGroup {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1rem;
}

.toggleOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  position: relative;
}

.toggleOption input[type="radio"] {
  display: none;
}

.customCircle {
  width: 16px;
  height: 16px;
  border: 2px solid var(--french-gray-color);
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
  transition: border-color 0.4s;
}

.toggleOption input[type="radio"]:checked + .customCircle {
  border-color: var(--bright-sun-color); /* Yellow border when checked */
}

.toggleOption input[type="radio"]:checked + .customCircle::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: var(--bright-sun-color); /* Yellow fill */
  border-radius: 50%;
}

.performanceChange {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
}

.improved {
  color: var(--pine-green-color); /* Green */
}

.declined {
  color: var(--alizarin-crimson-color); /* Red */
}

.noData {
  text-align: center;
  padding: 2rem;
  background: #f8f8f8;
  border-radius: 8px;
  color: var(--pale-sky-color);
}
.noData ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .progressSection {
    max-width: 90vw !important;
  }
}
