.card {
  background-color: rgba(90, 224, 215, 0.3);
  padding: 1rem;
  margin-top: 2rem;
  width: 90%;
  max-width: 450px;
  min-width: 300px; /* Optional */
  flex: 1; /* Allows flexible shrinking if inside flex container */
}

h3 {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: max-content;
  max-height: 50vh;
  overflow-y: auto;
}

.item {
  margin-bottom: 0.6rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.detail {
  font-size: 0.95rem;
  color: var(--pale-sky-color);
}

.timestamp {
  font-size: 0.8rem;
  color: var(--pale-sky-color);
}
@media screen and (max-width: 720px) {
  .card {
    width: 350px;
    max-width: 95vw;
    margin-bottom: 40px;
    padding: 0;
  }
}
