.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: auto;
  width: 0;
  min-width: 0;
  border-radius: 7px;
  margin: 10px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}

.studentBar {
  background-color: var(--black-pearl-color);
}

.teacherBar {
  background-color: var(--cerulean-color);
}

.parentBar {
  background-color: var(--pine-green-color);
}

.sidebarActive {
  width: 190px;
  min-width: 190px;
}
.sidebarHidden span {
  display: none;
}
.sidebarHidden {
  width: 0;
  max-width: 0 !important;
}

.siteIcon {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 7px;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 7px;
}

ul li a:hover,
ul li a.active {
  background: var(--cerulean-color);
}

.logout {
  margin-top: auto;
  border-top: 1px solid var(--alizarin-crimson-color);
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 5px;
  height: 6vh;
}

.logoutButton {
  background-color: transparent;
  color: var(--alizarin-crimson-color);
}

.logoutButton i {
  position: relative;
  right: 8px;
  transition: all 400ms ease-in-out;
}

.logoutButton:hover i {
  right: 4px;
}

.dashboardicon {
  margin-right: 10px;
}

.usericon {
  margin-right: 10px;
}

.profileicon {
  margin-right: 10px;
}

.sideBarIcon {
  margin-right: 10px;
}

.linkLabel {
  display: flex;
  transition: opacity 0.4s ease;
}
@media screen and (max-width: 1300px) {
  .sidebarActive {
    height: 94vh;
    min-width: 100px;
    width: 100px !important;
    padding: 2px;
  }
  .sidebarHidden {
    width: -100px;
  }
  ul li a {
    flex-direction: column;
    padding: 5px;
    align-items: center;
    gap: 5px;
  }
  .linkLabel p:first-of-type {
    display: none;
  }
  .siteIcon {
    margin: 5px;
    height: 50px;
    width: 50px;
  }
  .logout {
    height: 8vh;
    margin-bottom: 20px;
  }
  .logoutButton {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0;
    gap: 3px;
  }
  .logoutButton .linkLabel {
    padding: 0;
  }
}
@media screen and (max-width: 990px) {
  .sidebar {
    position: absolute;
    height: 96vh;
  }
}
