body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    color: #000000;
    background: #EDFDFD;
}

/* .sidebar {
    margin-top: 6px;
    width: 160px;
    background: #04061F;
    height: 95vh;
    padding: 0 10px;
    left: -100%;
    transition: all 1s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
} */

.sidebar {
  position: absolute;
  margin-top: 6px;
  top: 0;
  left: 0;
  height: 95vh;
  width: 160px;
  background-color: #04061F;
  padding: 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebarActive {
  transform: translateX(0);
}


.spa-logo {
    width: 40px;
    margin: 20px 60px;
    margin-bottom: 0%;
}

/* .sidebarActive {
    left: 0;
} */

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    display: block;
    padding: 10px 10px;
    border-radius: 6px;
}

ul li a:hover,
ul li a.active {
    background: #070252;
}

.logout {
  margin-top: auto;
  padding-top: 1rem;
  /* color: red; */
  border-top: 1px solid #525151;
  margin-bottom: 80px;
}

.logout a {
    color: red;
    margin: 230px 30px;
}

.logout a svg {
    margin-right: 8px;
}

ul li a svg {
    margin-right: 10px;
}

.dashboardicon {
    margin-right: 10px;
}

.usericon {
    margin-right: 10px;
}

.profileicon {
    margin-right: 10px;
}
.sideBarIcon {
    margin-right: 10px;
}