.main {
  scrollbar-gutter: stable;
  overflow-y: auto;
  padding: 10px;
  transition: all 0.4s ease-in-out;
  animation: fadeIn 400ms ease-in-out;
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 7px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.layoutGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.mainContent,
.rightSideBar {
  display: flex;
  flex-direction: column;
  animation: fadeIn 400ms ease-in-out;
}

.assignmentCardContainer,
.summaryAndDeadlineRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.summaryAndDeadlineRow {
  gap: 70px;
  margin-top: 40px;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 520px) {
  .assignmentCardContainer {
    justify-content: center;
  }
}

/* --- Tablet and Larger (min-width: 768px) --- */
@media (min-width: 768px) {
  .layoutGrid {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas:
      "main sidebar"
      "bottom bottom";
    gap: 20px;
  }

  .mainContent {
    grid-area: main;
  }

  .rightSideBar {
    grid-area: sidebar;
  }

  .bottomRow {
    grid-area: bottom;
    flex-direction: row;
  }

  .progressBox,
  .recentsBox {
    flex: 1;
    overflow: hidden;
  }
}

/* --- Desktop (min-width: 1024px) --- */
@media (min-width: 1024px) {
  .main {
    margin-left: 250px;
  }

  .main.mainCollapsed {
    margin-left: 0px;
  }
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
