.main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - 30px);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  text-align: left;
}
.topRow {
  display: flex;
  flex-direction: row;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.cardContainer {
  width: 95%;
  max-width: 770px;
  overflow: auto;
  padding-left: 10px;
  height: 25vh;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}
.cardContainer p {
  padding: 10px;
}
.summaryAndDeadlineRow {
  display: flex;
}
.rightColumn {
  width: 320px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bottomRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.progressBox {
  flex: 1;
}
.recentsBox {
  width: 350px;
}
