.errorMessage {
  color: var(--alizarin-crimson-color);
}

.emptyMessage {
  color: var(--french-gray-color);
}

.summaryHeading {
  color: var(--cerulean-color);
}

.progressBars {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progressRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
}

.labelRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
}

.percentage {
  font-size: 0.875em;
  font-weight: 600;
}

.gradedPercentage {
  color: var(--pine-green-color);
}

.submittedPercentage {
  color: var(--cerulean-color);
}

.pendingPercentage {
  color: var(--bright-sun-color);
}

.overduePercentage {
  color: var(--alizarin-crimson-color);
}

.progressTrack {
  background-color: var(--french-gray-color);
  width: 100%;
  height: 1.3vh;
  border-radius: 7px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  border-radius: 7px;
  transition: all 400ms ease-in-out;
}

.graded {
  background: linear-gradient(
    90deg,
    var(--aqua-color),
    var(--pine-green-color)
  );
}

.submitted {
  background: linear-gradient(90deg, var(--aqua-color), var(--cerulean-color));
}

.pending {
  background: linear-gradient(
    90deg,
    var(--aqua-color),
    var(--bright-sun-color)
  );
}

.overdue {
  background: linear-gradient(
    90deg,
    var(--aqua-color),
    var(--alizarin-crimson-color)
  );
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 768px) {
  .summarySection {
    width: 80%;
  }
}
