.progressBars {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progressTrack {
  background-color: var(--french-gray-color);
  width: 100%;
  height: 10px;
  border-radius: 7px;
  overflow: hidden;
}

.progressRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
}

.labelRow {
  display: flex;
  justify-content: space-between;
}

.progressFill {
  height: 100%;
  border-radius: 7px;
  transition: width 0.4s ease-in-out;
}

.completed {
  background-color: var(--pine-green-color);
}

.pending {
  background-color: var(--bright-sun-color);
}

.overdue {
  background-color: var(--alizarin-crimson-color);
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 768px) {
  .summarySection {
    width: 80%;
  }
}
