.hero {
    margin-left: 190px;
    transition: margin-left 0.3s ease-in-out, padding 0.3s ease-in-out;
    width: 100%;
    height: max-content;
    padding: 20px 10px;
}
.marginCollapsed {
    margin: 0
}
.assignmentsOverview {
    height: 25vh;
    max-width: 60vw;
    padding: 10px;
}
.noUnits {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 h4, p {
    margin: 0;
}
.noUnits .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 20vh;
    background-color: rgba(90, 224, 215, 0.3);
}
.unitsBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.units {
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}