.teacherContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  animation: fadeIn 400ms ease-in-out;
}

.containerLeft,
.containerRight {
  display: flex;
  flex-direction: column;
  height: max-content;
  transition: all 0.4s ease-in-out;
}

.containerLeft {
  gap: 10px;
}

.assignmentsOverview {
  max-width: 100%;
  padding: 10px;
}

.noUnits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerLeft h4,
.containerLeft h3,
.containerLeft p {
  margin: 0;
}

.noUnits .message {
  background-color: var(--aqua-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 20vh;
}

.assignmentsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.assignmentsTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.addAssignment {
  background: var(--cerulean-color);
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 10px;
}

.addAssignment:hover {
  background: #fff;
  color: var(--cerulean-color);
}

.assignments {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.submissions {
  max-width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

.submissions h3 {
  margin-bottom: 10px;
}

.submissionsBox {
  width: 100%;
  overflow-y: auto;
  border-radius: 7px 7px 0 0;
}

.submissionsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.submissionsTable thead {
  background: var(--cerulean-color);
  color: var(--foam-color);
}

.submissionsTable thead th {
  padding: 10px;
}

.submissionsTable tbody {
  background: #fff;
}

.submissionsTable thead tr,
.submissionsTable td {
  height: 7vh;
}

.submissionsTable td {
  width: 20%;
  padding: 10px;
}

.submissionsTable tbody td:first-of-type {
  width: 40%;
}

.statusBadge {
  font-size: 0.875em;
  font-weight: 600;
}

.graded {
  color: var(--pine-green-color);
}

.partialGraded {
  color: var(--aqua-color);
}

.inProgress {
  color: var(--west-coast-color);
}

.awaiting {
  color: var(--bright-sun-color);
}

.noSubmissions {
  color: var(--pale-sky-color);
}

.deadlines {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  max-width: 100%;
  margin-top: 20px;
}

.deadlineBox {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 5px;
  gap: 10px;
}

.deadlineBox p:last-of-type {
  color: var(--alizarin-crimson-color);
  font-size: 0.8em;
  margin-right: 10px;
}

.deadlineBox p:first-of-type {
  flex: 1;
}

.deadlineEvent {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 10px;
  border-radius: 7px;
}

.progress {
  margin-bottom: 20px;
}

.containerRight {
  gap: 80px;
}

.marginCollapsed {
  margin: 0;
}

.marginCollapsed .containerRight {
  width: 36vw;
  transition: all 0.4s ease-in-out;
}

.marginCollapsed .containerLeft {
  width: 65vw;
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 1200px) {
  .teacherContainer {
    flex-direction: column;
  }

  .assignmentsBox {
    width: 95vw;
  }

  .containerRight {
    width: 100%;
    flex-direction: row;
  }

  .marginCollapsed .containerRight {
    width: 100%;
    max-width: 100vw;
    padding: 0;
  }

  .marginCollapsed .containerLeft {
    width: 100%;
  }

  .progress {
    height: max-content;
    min-height: max-content !important;
    max-width: 80% !important;
  }
}

@media screen and (max-width: 991px) {
  .progress {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 768px) {
  .deadlineEvent {
    width: 90%;
  }

  .containerRight {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
