.hero {
  width: 100%;
  max-width: 100vw;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  justify-content: space-between;
}
.heroLeft {
  height: max-content;
  max-height: 180vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: width 0.3s ease-in-out;
}
.heroRight {
  width: calc(35vw - 190px);
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  gap: 80px;
  padding: 10px;
}
.marginCollapsed {
  margin: 0;
}
.marginCollapsed .heroRight {
  width: 36vw;
  transition: width 0.3s ease-in-out;
  padding: 15px;
}
.marginCollapsed .heroLeft {
  width: 65vw;
  transition: width 0.3s ease-in-out;
}
.assignmentsOverview {
  height: 30vh;
  width: 95%;
  padding: 10px;
}

.noUnits {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h4,
h3,
p {
  margin: 0;
}
.noUnits .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 20vh;
  background-color: var(--aqua-color);
}
.unitsBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.units {
  height: 25vh;
  width: 800px;
  padding-left: 10px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
}
.units {
  scrollbar-color: var(--foam-color);
}
.assignmentsTitle {
  height: 5vh;
  display: flex;
  gap: 30px;
  align-items: center;
}
.addAssignment {
  height: 4vh;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--aqua-color);
  border-radius: 6px;
}

.submissions {
  height: max-content;
  max-height: 50vh;
  width: 750px;
  padding: 10px;
  overflow: hidden;
}
.submissionsBox {
  height: max-content;
  max-height: 42vh;
  width: 100%;
  overflow-y: auto;
}
table {
  width: 100%;
}
thead {
  background-color: var(--aqua-color);
  height: 6vh;
}
thead tr,
td {
  border: none;
}
td {
  width: 20%;
  padding: 5px;
  font-size: 0.9rem;
}
tbody td:first-of-type {
  width: 40%;
}
.deadlines {
  height: max-content;
  max-height: 50vh;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin-top: 20px;
}
.deadlineBox {
  height: max-content;
  max-height: 42;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-items: flex-start;
  padding: 5px;
  gap: 10px;
}
.deadlineBox p {
  height: max-content;
  max-height: 10vh;
}
.deadlineBox p:last-of-type {
  width: 90px;
  font-size: 0.8rem;
}
.deadlineBox p:first-of-type {
  flex: 1;
}
.deadlineEvent {
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  display: flex;
  width: 70%;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
}

.recentActivities {
  height: max-content;
  min-height: 60vh;
  padding-bottom: 20px;
  width: 80%;
  max-width: 400px;
  /* background-color: var(--aqua-color); */
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  min-width: 320px;
}
.progress {
  height: 40vh;
  margin-bottom: 5vh;
}
.recentActivitiesBox {
  display: flex;
  height: max-content;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 4vh;
}
.deadlineEventRecent {
  display: flex;
  justify-content: space-between;
}
.deadlineEventRecent p:first-of-type {
  flex: 1;
}
.deadlineEventRecent p:last-of-type {
  font-size: 0.8rem;
  width: 90px;
}

/* ::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}*/

::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
