/*  Testimonial Form */
.formContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.modalBox {
  background-color: var(--foam-color);
  padding: 1.5rem;
  border-radius: 8px;
  width: 30rem;
  gap: 2px;
  max-width: 90%;
  box-shadow: 0 4px 20px var(--black-pearl-color);
  animation: fadeInUp 0.25s ease;
}

/* Field Group */
.fieldGroup {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 5px;
}

/* Title */
.titleFieldsInputs {
  width: 100%;
  padding: 0.7rem 0.8rem;
  border: 1px solid var(--aqua-color);
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.titleFieldsInputs:focus {
  outline: none;
  border-color: var(--west-coast-color);
}

/* Textarea */
.modalTextarea {
  min-height: 120px;
  resize: vertical;
  line-height: 1.4;
}

/* Error Message */
.errorMessage {
  font-size: 0.85rem;
  color: var(--alizarin-crimson-color);
  margin: 0;
  padding: 0;
}

/* Form Actions */
.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.cancelBtn,
.submitBtn {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
}

.cancelBtn {
  background-color: var(--french-gray-color);
  font-weight: 700;
}

.submitBtn {
  background: var(--pine-green-color);
  color: var(--foam-color);
  font-weight: 700;
}

.submitBtn:hover {
  background: var(--aqua-color);
  color: var(--black-pearl-color);
}
