.Title {
    margin-bottom: 10px;
}

.Title h1 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
    color: blue;
}

.breadCrumb {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #6c757d;
}

.Item {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.breadCrumbItem a {
  color: inherit;
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.separator {
  margin: 0 8px;
}

.active {
  color: blue;
  font-weight: 500;
}
