.container {
  flex: 1;
  display: flex;
  padding: 15px;
}
.containerRight {
  min-width: 400px;
  width: max-content;
  max-width: 600px;
  padding: 10px;
  background-color: #fff;
}
.containerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.containerLeft h3 {
  margin: 0;
}
.searchBox {
  height: max-content;
  width: max-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.searchBox i {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox input {
  height: 35px;
  width: 250px;
  border: none;
}
.searchBox input:focus {
  outline: none;
}
.faSearch {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 20px;
}
.faCancel {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  cursor: pointer;
}
.unitsBox {
  max-width: 600px;
  flex: 1;
  max-height: 72vh;
  display: flex;
  flex-direction: column;
}
.unitsHeader {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: var(--aqua-color);
}
.units {
  max-height: 65vh;
  overflow-y: auto;
  background-color: #fff;
}
.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.unitDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}
.myUnitsBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  overflow-y: auto;
}
.myUnitsBox h4 {
  color: var(--pale-sky-color);
}
.assigned {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 5px;
}
.assignedUnit {
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 6vh;
  padding-left: 20px;
}
.pRed {
  color: var(--alizarin-crimson-color);
}
.requestUnits {
  align-self: center;
  margin-top: 20px;
}
@media screen and (max-width: 1255px) {
  .container {
    gap: 10px;
  }
  .containerRight {
    min-width: max-content;
  }
}
@media screen and (max-width: 820px) {
  .container {
    flex-direction: column;
    height: 90dvh;
    overflow-y: scroll;
  }
  .containerLeft {
    min-height: max-content;
  }
  .containerRight {
    flex: 1;
    width: 95%;
    min-height: max-content;
    margin-bottom: 20px;
  }
}
