/* .hero {
    margin-left: 190px;
    transition: margin-left 0.3s ease-in-out, padding 0.3s ease-in-out;
    width: 100%;
    max-width: 100vw;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 10px;
    justify-content: space-between;
}
.marginCollapsed {
    margin: 0
} */