.welcomeBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.studentBtn {
  background: var(--black-pearl-color);
  color: #fff;
}

.studentBtn:hover {
  background: #fff;
  color: var(--black-pearl-color);
}

.teacherBtn {
  background: var(--cerulean-color);
  color: var(--black-pearl-color);
}

.teacherBtn:hover {
  background: var(--black-pearl-color);
  color: var(--cerulean-color);
}

.parentBtn {
  background: var(--pine-green-color);
  color: #fff;
}

.parentBtn:hover {
  background: #fff;
  color: var(--pine-green-color);
}
