.landingFooter {
  background: var(--black-pearl-color);
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  padding: 20px;
}

.logoNameSocials {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logoName {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerLogo {
  max-height: 100px;
  border: 2px solid var(--aqua-color);
}

.logoName h3 {
  color: var(--aqua-color);
  font-size: 1.5em;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials a i {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-size: 1.2em;
  padding: 10px;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}

.socials a i:hover {
  background: var(--aqua-color);
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerLinks h3 {
  color: var(--bright-sun-color);
}

.footerLinks a {
  color: var(--aqua-color);
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

.footerLinks a:hover {
  color: var(--bright-sun-color);
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 1200px) {
  .landingFooter {
    column-gap: 80px;
    row-gap: 20px;
  }
}

@media (max-width: 462px) {
  .landingFooter {
    justify-content: center;
  }
}
