.landingFooter {
  background: var(--black-pearl-color);
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  padding: 20px;
}

.logoNameSocials {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logoName {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerLogo {
  max-height: 100px;
  border: 2px solid var(--aqua-color);
}

.appName {
  display: flex;
  flex-direction: column;
  color: var(--aqua-color);
  font-size: 1.5em;
}

.appTagline {
  color: var(--bright-sun-color);
  font-style: italic;
  font-size: 0.75em;
  font-family: Lato, Poppins, sans-serif;
  margin-top: -20px;
}

.socials {
  display: flex;
  gap: 20px;
}

.socialIcon {
  background: var(--bright-sun-color);
  color: var(--black-pearl-color);
  font-size: 1.2em;
  padding: 10px;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}

.socialIcon:hover {
  background: var(--aqua-color);
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerHeading {
  color: var(--bright-sun-color);
}

.containerLink {
  color: var(--aqua-color);
}

.containerLink:hover {
  color: var(--bright-sun-color);
}

.whatWeOffer .containerLink {
  cursor: auto;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 1200px) {
  .landingFooter {
    column-gap: 80px;
    row-gap: 20px;
  }
}

@media (max-width: 462px) {
  .landingFooter {
    justify-content: center;
  }
}
