.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: var(--foam-color);
  border-radius: 7px;
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 24px;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modalContent::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Close Button */
.closeButton {
  color: var(--alizarin-crimson-color);
  position: absolute;
  top: 12px;
  right: 8px;
  background: transparent;
  font-size: 1.5em;
  z-index: 10;
}
