.modalContent {
  height: max-content;
  min-height: 30px;
  width: auto;
  min-width: 250px;
  max-width: 600px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  top: 20px;
  right: 10px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 10px;
}

.content {
  margin: 0;
  font-size: 1.1rem;
}

.content:first-of-type {
  height: max-content;
  min-height: 5vh;
  padding: 5px;
  margin: 5px;
}

.successMessage {
  color: var(--pine-green-color);
}

.errorMessage {
  color: var(--alizarin-crimson-color);
}

.loader {
  height: 6px;
  animation: loader 5s linear;
}

.errorLoader {
  background-color: var(--alizarin-crimson-color);
}

.successLoader {
  background-color: var(--pine-green-color);
}

@keyframes loader {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
