.adminUnitsContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 520px) {
  .adminUnitsContainer {
    padding: 10px;
  }
}
